@font-face {
    font-family: "Bunya";
    src: url("Bunya-Regular_PERSONAL.ttf");
}

body {
    font-family: Bunya !important; 
}

/* navbar */
.logo {
    height: 91px;
    width: 200px;
    padding: 12px;
}

.navbar, .container {
    background: rgba(0, 0, 0, 0.5);
}

.navbar-item, .navbar-link{
    color: white;
    font-size: 20px;
}
.navbar-b{
    font-family: Bunya; 

    color: black;
}

.navbar-icon {
    margin-top: 35px;
    padding-right: 20px;
}
.navbar-icon img{
    max-height: 1.5rem;
}
.navbar-end{
    margin-right: 30px;
}
.navbar-spacing{
    color: white;
    font-size: 20px;
    margin: 5px;
    margin-top: 32px;
}
.art{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 100vw !important; 
    min-height: 100vh !important;
    padding-top: 130px;
    /*background-attachment: fixed;*/
}
/* sobre */
.m-sobre {
    background-image: url(bg1.png);
}

/* jogos */
.m-jogos {
    background-image: url(bg2.png);
}

/* contato */
.m-contato {
    background-color: #808080;
    margin-top: -8px;
}

.label {
    color: #E9E9E9;
}

.container{
    border-radius: 10px;
    color: white;
    padding: 30px;
}

.container img{
    border-radius: 30px;
}


.control,
.textarea,
.input {
    background-color: #C1C1C1;
}

.button.is-link {
    background-color: #c1c1c1;
    border-color: transparent;
    color: #777777;
}

.button.is-link:hover,
.button.is-link.is-hovered {
    background-color: #E9E9E9;
    border-color: transparent;
    color: #777777;
}

/* footer  */
.foot {
    font-size: 18px;
    text-align: center;
    margin-top: -32px;
    color: white;
}